REACT_APP_IPFS_GATEWAY=https://ipfs.kleros.io
REACT_APP_DEFAULT_NETWORK=42
REACT_APP_DEFAULT_TCR_ADDRESSES={"42":"0x18CFC49b76635A068C9f4530EfB852973f06Cb29"}
REACT_APP_DEFAULT_ARBITRATOR={"42":"0x60b2abfdfad9c0873242f59f2a8c32a3cc682f80", "1": "0x988b3a538b618c7a603e1c11ab82cd16dbe28069"}
REACT_APP_GTCRVIEW_ADDRESSES={"42":"0xd28f9f565f24ce5d9a3df63db186fb774f66468c"}
REACT_APP_METAMASK_SITE_URL=https://metamask.io
REACT_APP_TRUST_SITE_URL=https://trustwallet.com/

# Optional -------------
REACT_APP_INFURA_PROJECT_ID=
REACT_APP_WALLETCONNECT_BRIDGE_URL=https://bridge.walletconnect.org
REACT_APP_PORTIS_DAPP_ID=

# JSON string mapping networkID to Fortmatic api key.
# Example: REACT_APP_FORMATIC_API_KEYS={"1":"pk_live_FCEE7548E5...", "42":"pk_live_0916382..."}
REACT_APP_FORMATIC_API_KEYS=
