[build]
  publish = "build/"
  command = "yarn build"

[build.environment]
  NODE_VERSION='10.16.0'
  YARN_FLAGS='--pure-lockfile'
  REACT_APP_IPFS_GATEWAY="https://ipfs.kleros.io"
  REACT_APP_DEFAULT_NETWORK="1"
  REACT_APP_DEFAULT_TCR_ADDRESSES='{"42":"0xBdfAe19c0fA35cCbD5541d5D9cA4E4F6F04CaaEb", "1": "0xefb82e7d62c5b110a8765590dd4d30d54db063b1"}'
  REACT_APP_DEFAULT_EVIDENCE_DISPLAY_URI='/ipfs/QmWYu43qp5VTH9LFaUfFv7qDRfkSr7ZLNXZNxYqdpww3ts/index.html'
  REACT_APP_GTCRVIEW_ADDRESSES='{"42":"0xb0c486612eb11758bb44bc1fc1d22c5543f09085", "1": "0x98f1309f96044000174a89c2a0e2001ea5d7a524"}'
  REACT_APP_BATCH_WITHDRAW_ADDRESSES='{"42":"0xA32942798112e561d4d3ffc62c552bb0E9651b66", "1": "0x38aa214dc986d0bab53e5861071f3d5a56066b4d"}'
  REACT_APP_FACTORY_ADDRESSES='{"42":"0x4296b39059b8591d4f22a0fc4ee49508279b8fc6", "1": "0x7d206232f7e9e22796f3a2316f2f8a8019fd599a"}'
  REACT_APP_DEFAULT_GOVERNOR='{"1":{"address":"0x81dCc6246Fe261035FFeE91CD975FAf3D3f3375F","label":"Kleros Governor"},"42":{"address":"0x5A63D4fe53BC754af645bC1C6879698C50563920","label":"Kovan Kleros Governor"}}'
  REACT_APP_DEFAULT_ARBITRATOR='{"1":{"label":"Kleros","address":"0x988b3A538b618C7A603e1c11Ab82Cd16dbE28069"},"42":{"label":"Kleros","address":"0x60B2AbfDfaD9c0873242f59f2A8c32A3Cc682f80"}}'
  REACT_APP_DEFAULT_ARBITRATOR_EXTRA_DATA='{"1":{"label":"This defines to which court and how many jurors to use for the initial dispute.","data":"0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003"},"42":{"label":"This defines to which court and how many jurors to use for the initial dispute.","data":"0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003"}}'
  REACT_APP_KLEROS_ADDRESSES='{"42":{"arbitrator":"0x60b2abfdfad9c0873242f59f2a8c32a3cc682f80","policy":"0xfc53d1d6ddc2c6cdd403cb7dbf0f26140d82e12d"}, "1": {"arbitrator":"0x988b3a538b618c7a603e1c11ab82cd16dbe28069","policy":"0xCf1f07713d5193FaE5c1653C9f61953D048BECe4"}}'
  REACT_APP_METAMASK_SITE_URL='https://metamask.io'
  REACT_APP_TRUST_SITE_URL='https://trustwallet.com'
  REACT_APP_WALLETCONNECT_BRIDGE_URL='https://bridge.walletconnect.org'
  REACT_APP_INSTRUCTION_VIDEO='https://www.youtube.com/embed/DKPVWzhh8Y8'
  REACT_APP_TX_BATCHER_ADDRESSES='{"1":"0x82458d1c812d7c930bb3229c9e159cbabd9aa8cb","42":"0x741A4dCaD4f72B83bE9103a383911d78362611cf"}'
  REACT_APP_REJECT_ALL_POLICY_URI='/ipfs/QmZ7RVU7re1g8nXDbAFMHV99pyie3dn4cY7Ga2X4h8mDpV/reject-all-policy.pdf'

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
